extends layout

block content
  table.posts-list
    each item in posts
      tr
        td= item.postId
        - let month = item.date.getMonth() + 1
        td= month.toString().padStart(2, '0') + "/" + item.date.getDate().toString().padStart(2, '0') + "/" + item.date.getFullYear()
        td= item.date.getHours().toString().padStart(2, '0') + ":" + item.date.getMinutes().toString().padStart(2, '0') + ":" + item.date.getSeconds().toString().padStart(2, '0')
        td= item.user
        td
          a(href="https://www.instagram.com/p/"+item.postId target="_blank")
            img(src=item.picture width="20")
        td= item.locationTag.name
        //- td
        //-   each tag in item.tags
        //-     span ##{tag.name}
